body {
	text-align: left;
	background-image: url(img_la la land.jpg);
}

img {
    border-radius: 8px;
}

.lang {
	display: none;
}

.lang.visible {
	display: inline;
	
}

h1 {
	font-size: 70px;
	color:#fff;
}

#welcome-message {
	font-size: 50px;
	background-color: #F6DDCC;
	margin: 0 auto;
	font-style: italic;
}

#languages label {
	color: #F6DDCC;
	font-weight: bold;
	font-size: 25px;	
}

input[type="radio"] {
	background-color: #ccc;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	position: relative;
	width: 25px;
}
input[type="radio"]:after {
	background-color: #F6DDCC;
	border-radius:100%;
	content: '';
	display: block;
	height: 12px;
	left: 6px;
	position: relative;
	top: 6px;
	width:12px;
}
input[type="radio"]:checked:after {
	background-color: #F6DDCC;
}
button#save {
	padding: 5px 30px;
	margin-top: 20px;
	border-radius: 15px;
	outline: 0;
	font-size: 30px;
	background-color: #fff;
	border:1px solid #885ead;
	cursor: pointer;
	color:#885ead;
	font-weight: bold;
	-webkit-transition: all 1.1s ease;
	transition: all 1.1s ease;
   }

button#save:hover {
	color:#fff;
	background-color: #885ead;
	border:1px solid #fff;
	-webkit-transition: all 1.1s ease;
	transition: all 1.1s ease;
   }
